<div class="mt-4">
    <h3>Create course</h3>
    <form action="/storecourse" method="POST">
        <div class="form-group">
            <label for="name">Course name: </label>
            <input type="text" name="name" id="">
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input type="text" name="price" id="">
        </div>
        <div class="form-group">
            <label for="image">Image: </label>
            <input type="text" name="image" id="">
        </div>
        <div class="form-group">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" id="">
        </div>
            <button type="submit" class="btn btn-primary">Add course</button>
    </form>
</div>