<div class="mt-4">
    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary" >Get learn</button>
        </div>
        <div class="col-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FFkLoUwQ9a4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <h3>Price: ${{course.price}}</h3>
            <p>Sometimes I don't know what are you saying! Nerdy love, the words for me. Anything else, I don't know!</p>
        </div>
    </div>
</div>